name: Build Driver Assist

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Setup GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '23'
        distribution: 'graalvm'
        github-token: ${{ secrets.GITHUB_TOKEN }}
        native-image-job-reports: 'true'
    - name: Set up swap space
      if: runner.os == 'Linux'
      uses: pierotofy/set-swap-space@v1.0
      with:
        swap-size-gb: 10
    - name: Checkout
      uses: actions/checkout@v4
    - name: Native Compile
      run: "mvn -Pnative build"
    - name: Upload Artifact
      uses: actions/upload-artifact@v4.3.1
      with:
        name: DriverAssist
        path: ${{ github.workspace }}/build/native
